<div class="container">
  <br />
  <div class="row" cdkDropListGroup>
    <div class="col-lg-6">
      <mat-card>
        <mat-card-header>
          <h2>Grupos</h2>
          <br />
          <mat-form-field class="col-lg-6">
            <mat-label>Filtro</mat-label>
            <input
              matInput
              (keyup)="filtrar($event)"
              placeholder="Nombre a buscar"
              #input
            />
          </mat-form-field>
        </mat-card-header>
        <mat-card-content [style.overflow]="'auto'" [style.height.px]="'250'">
          <div
            cdkDropList
            #todoList="cdkDropList"
            [cdkDropListData]="grupos"
            [cdkDropListConnectedTo]="[doneList]"
            class="example-list"
            (cdkDropListDropped)="drop($event)"
          >
            <div class="example-box" *ngFor="let item of grupos" cdkDrag>
              {{ item.name }}
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-lg-6">
      <mat-card>
        <h2>
          <span *ngIf="nobreGrupo != ''">
            <mat-checkbox
              (change)="selectAll($event)"
              [checked]="globalCheck"
              class="example-margin"
            >
            </mat-checkbox>
            {{ nobreGrupo }}
            <button mat-mini-fab color="warn" (click)="eliminar()">
              <mat-icon>delete</mat-icon>
            </button>
          </span>
        </h2>

        <div
          cdkDropList
          [cdkDropListData]="empleados"
          class="example-list"
          (cdkDropListDropped)="drop($event)"
        ></div>
        <mat-card-content [style.overflow]="'auto'" [style.height.px]="'250'">
          <ul>
            <li *ngFor="let item of empleados; let i = index">
              <mat-checkbox
                class="example-margin"
                [checked]="item.checked"
                (change)="valueChange($event, i)"
              ></mat-checkbox
              >{{ item.name }}
            </li>
          </ul>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button (click)="showLog()">Continuar</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
